<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/ico" href="favicon.ico"/>

    <title>Buddys Waterless Carwash</title>
    <!-- Agency CSS -->
    <link href="css/agency.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Sidr -->
    <link href="css/jquery.sidr.light.css" rel="stylesheet">
    <link href="css/scrolling-nav.css" rel="stylesheet">

    <!-- Footer CSS -->
    <link href="css/footer.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/custom.css" rel="stylesheet">

    <style>
        #mobile-header {
            display: none;
        }

        @media only screen and (max-width: 767px) {
            #mobile-header {
                display: block;
            }
        }
    </style>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

    <!-- Angular -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<nav class="navbar navbar-default navbar-fixed-top vcenter ralign" role="navigation"
     style="background-color: red; z-index:10001;">
    <div class="container">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a class="smoothScroll" href="index"><img src="img/BuddiesBonlySMALL.png"
                                                              class="img img-responsive"/></a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>

    <a id="simple-menu" href="#sidr">
        <button type="button" class="navbar-toggle"
                style="display:inline-block;margin-right:15px;background-color: red;">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar" style="background-color: white"></span>
            <span class="icon-bar" style="background-color: white"></span>
            <span class="icon-bar" style="background-color: white"></span>

        </button>
    </a>
    <!-- /.container -->
</nav>

<div class="container main-content" id="main-content-section" style="padding-bottom:150px; margin-top: 100px;">
    <div ng-controller="mainCtrl">

        <div class="page-header">
            <h1>Job Queue</h1>
        </div>

        <h3>Available Jobs</h3>
        <div class="table-responsive">
            <table class="table table-hover table-striped">
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Show on Map</th>
                    <th>Claim</th>
                </tr>
                <tr ng-repeat="job in allJobs">
                    <td>{{job.date}}</td>
                    <td>{{job.time}}</td>
                    <td>{{job.latitude.toFixed(2)}}</td>
                    <td>{{job.longitude.toFixed(2)}}</td>
                    <td>
                        <button class="btn btn-primary" ng-click="showMap(job.latitude, job.longitude)"><i
                                class="fa fa-map-marker"></i></button>
                    </td>
                    <td>
                        <button class="btn btn-success" ng-click="claimJob(job)"><i class="fa fa-share"></i> Claim
                        </button>
                    </td>
                </tr>
                <tr ng-show="!allJobs.length">
                    <td colspan="6"><p style="text-align:center"><i>No jobs.</i></p></td>
                </tr>
            </table>
        </div>
        <br/>

        <h3>Current Jobs</h3>
        <div class="table-responsive">
            <table class="table table-hover table-striped">
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Vehicle Description</th>
                    <th>License Plate</th>
                    <th>Notes</th>
                    <th>Show on Map</th>
                    <th>View Picture</th>
                    <th>Complete</th>
                </tr>
                <tr ng-repeat="job in myJobs">
                    <td>{{job.date}}</td>
                    <td>{{job.time}}</td>
                    <td>{{job.latitude.toFixed(2)}}</td>
                    <td>{{job.longitude.toFixed(2)}}</td>
                    <td>{{job.vehicle.color}} {{job.vehicle.make}} {{job.vehicle.model}}</td>
                    <td>{{job.vehicle.license}}</td>
                    <td>{{job.notes}}</td>
                    <td>
                        <button class="btn btn-primary" ng-click="showMap(job.latitude, job.longitude)"><i
                                class="fa fa-map-marker"></i></button>
                    </td>
                    <td>
                        <button class="btn btn-primary" ng-click="showPicture(job.vehicle.picture)"><i
                                class="fa fa-picture-o"></i></button>
                    </td>
                    <td>
                        <button class="btn btn-success" ng-click="completeJob(job)"><i class="fa fa-check"></i> Complete
                        </button>
                    </td>
                </tr>
                <tr ng-show="!myJobs.length">
                    <td colspan="10"><p style="text-align:center"><i>No jobs.</i></p></td>
                </tr>
            </table>
        </div>
        <br/>

        <h3>Completed Jobs</h3>

        <div class="table-responsive">
            <table class="table table-hover table-striped">
                <tr>
                    <th>WashID</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Rating</th>
                    <th>Tip</th>
                    <th>Status</th>
                </tr>
                <tr ng-repeat="job in completedJobs">
                    <td>{{job.washId}}</td>
                    <td>{{job.date}}</td>
                    <td>{{job.time}}</td>
                    <td>{{job.rating}}</td>
                    <td>{{job.tip}}</td>
                    <td><b>{{job.status}}</b></td>
                </tr>
                <tr ng-show="!completedJobs.length">
                    <td colspan="9"><p style="text-align:center"><i>No Completed jobs.</i></p></td>
                </tr>
            </table>
        </div>

    </div>
</div><!-- /.container -->

<footer class="footer-distributed vcenter">
    <div class="footer-center" style="text-align:center;width:100%">
        <a href="https://www.facebook.com/WaterlessBuddys" target="_BLANK"><i class="fa fa-facebook"></i></a>
        <a href="https://twitter.com/waterlessbuddys" target="_BLANK"><i class="fa fa-twitter"></i></a><br/>
        <p class="footer-company-name">Waterless Buddys &copy; 2016</p>
    </div>
</footer>


<div id="sidr" class="sidr" style="transition: left 0.2s ease; display: none;">
    <div class="sidr-inner">
        <ul class="sidr-class-horizontal sidr-class-menu sidr-class-expanded">
            <li style="padding: 0 15px; font-size: large;">Buddys Waterless Carwash</li>
            <li><a class="sidr-class-smooth" href="index">Home</a></li>

            <li><a class="sidr-class-smooth" href="becomeabuddy">Become a Buddy</a></li>


        </ul>
        <hr/>

        <div ng-controller="navBar">
            <ul class="sidr-class-horizontal sidr-class-menu sidr-class-expanded">
                <li ng-show="role == -1"><a class="sidr-class-smooth" href="login">Login</a></li>
                <li ng-show="role == 0"><a class="sidr-class-smooth" href="schedule">Schedule a Wash</a></li>
                <li class="active"><a class="sidr-class-smooth" href="jobs">Jobs</a></li>
                <li ng-show="role == 2"><a class="sidr-class-smooth" href="admin">Admin</a></li>
                <li ng-show="role != -1 && role != 2"><a class="sidr-class-smooth" href="profile">My Profile</a>
                </li>
                <li ng-show="!(role == -1)"><a class="sidr-class-smooth" href="#" onClick="logout()">Logout</a></li>

            </ul>
        </div>
    </div>
</div>

<!-- Complete Job  -->
<script type="text/ng-template" id="completeJob.html">
    <div class="modal-header">
        <h3 class="modal-title">Complete Job</h3>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="beforePicture">Before Picture</label>
            <div flow-init flow-name="beforePicture.flow">
                <span class="btn btn-warning" flow-btn><i class="fa fa-upload"></i> Before Picture</span><br/><br/>
                <img class="img-responsive" flow-img="$flow.files[0]" width="250px" width="250px"/>
            </div>
        </div>
        <div id="beforeThumbnail"></div>
        <div class="form-group">
            <label for="beforePicture">After Picture</label>
            <div flow-init flow-name="afterPicture.flow">
                <span class="btn btn-warning" flow-btn><i class="fa fa-upload"></i> After Picture</span><br/><br/>
                <img class="img-responsive" flow-img="$flow.files[0]" width="250px" width="250px"/>
            </div>
        </div>
        <div class="form-group">
            <label for="employeeNotes">Notes</label>
            <textarea ng-model="employeeNotes" class="form-control" id="employeeNotes"
                      placeholder="Any notes to the customer"></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="button" ng-click="ok()">Complete</button>
        <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>

<!-- Show Map  -->
<script type="text/ng-template" id="showMap.html">
    <div ng-init="init()" class="vhcenter">
        <img ng-src="{{imgURL}}" class="img img-responsive" style="padding:15px"/>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" type="button" ng-click="cancel()">close</button>
    </div>
</script>

<!-- Show Picture  -->
<script type="text/ng-template" id="showPictureModal.html">
    <div class="modal-body">
        <img ng-src="{{imgURL}}" class="img img-responsive"/>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" type="button" ng-click="cancel()">close</button>
    </div>
</script>

<!-- Jquery Map Modal -->
<div id="mapModal">
    <div id="mapHolder"></div>
    <div id="mapError"></div>
</div>

<!-- Jquery Map Modal -->
<div id="pictureModal">
    <div id="pictureHolder"></div>
</div>

<!-- jQuery -->
<script src="js/libraries/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.0.3/ui-bootstrap-tpls.js"></script>

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<!-- Sidr -->
<script src="js/libraries/jquery.sidr.js"></script>

<!-- Custom Javascript -->
<script src="js/custom2.js"></script>

<script src="js/libraries/ng-flow.js"></script>

<!-- Custom JS -->
<script src="js/user-functions.js"></script>

<!-- Profile Management JS -->
<script src="js/jobs.js"></script>

<!-- Google Maps JS -->
<script src="https://maps.google.com/maps/api/js"></script>

<!-- Parse -->
<script src="//www.parsecdn.com/js/parse-1.6.12.min.js"></script>

<!-- Profile Management JS -->
<script src="js/navbar.js"></script>

<!-- Hammer.JS Gesture Detection -->
<script src="js/libraries/hammer.js"></script>

<!-- Stripe.js -->
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>

<!-- Stripe public key -->
<script type="text/javascript">
    Stripe.setPublishableKey('pk_test_xWbIpv2iutPaLQ7o45yX1gu3');
</script>

<!-- Smooth same-page scrolling -->
<script type="text/javascript" src="js/libraries/smoothscroll.js"></script>
<!-- Below could handle the sliding menu closing each time a same page link is clicked for the scrolling navigation-->
<script type="text/javascript">
    $(window).scroll(function () {
        if ($(".navbar").offset().top > 50) {
            $(".navbar-fixed-top").addClass("top-nav-collapse");
        } else {
            $(".navbar-fixed-top").removeClass("top-nav-collapse");
        }
    });

</script>

</body>
</html>
